// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #F244A4;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-blue: #010440;
$pink: #F244A4;
$light-blue: #0597F2;
$light-blue-v2: #05C7F2;
