// $dark-blue: #010440;
// $pink: #F244A4;
// $light-blue: #0597F2;
// $light-blue-v2: #05C7F2;

.btn-pink {
  background-color: $pink;
  color: white
}

.btn-blue {
  background-color: $dark-blue;
  color: white
}

