.cocktail-card {
  border-radius: 8px;
  max-width: 450px;
  box-shadow: 2px 2px 3px rgba(230,230,230,0.3);
  background-color: #ffff;
  padding: 8px;
  margin: 3px;
}

.cocktail-card img {
  border-radius: 8px;
  width: 100%;
}

.cocktail-card-info {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.cocktail-card-info h2 {
  font-size: 25px;
  font-weight: bold;
}

.card-top {
  position: relative;
}

.management {
  position: absolute;
  right: 20px;
  top: 20px;
}


.review-card {
  position: relative;
  box-shadow: 2px 2px 3px rgba(150,150,150,0.2);
}

.review-rating {
  position: absolute;
  top: 15px;
  right: 15px;
}

.review-date {
  position: absolute;
  bottom: 0px;
  right: 10px;
}

.review-content {
  margin: 10px 20px;
  max-width: 50%;

  p {
    font-size: 1rem;
    font-weight: lighter;
  }
}
